<div class="row" id="items_list">

<div class="row">
	<div class="span2">Картинка</div>
	<div class="span1">Категория</div>
	<div class="span9">Заголовок</div>
</div>	
<% @posts.each do |post| %>
<hr>
<a href="/<%= post.region.try(:alias) %>/<%= post.try(:altname) %>" >
<div class="row">
	
	<div class="span2 table_image_item"><%= post.region.try(:name) %><img src="<%= post.imageurl %>" class="table_small_image"></div>
	<div class="span1"><%= post.category.try(:name) %></div>
	<div class="span9"><%= post.title %><br><%= post.price %></div>
</div>
</a>
<% end %>



</div>	