<%= form_for(@news_list) do |f| %>
  <% if @news_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_list.errors.count, "error") %> prohibited this news_list from being saved:</h2>

      <ul>
      <% @news_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="row">
    <div class="span1"><%= f.label :user_id %></div>
    <div class="span3"><%= f.number_field :user_id, :disabled=>true  %></div>

    <div class="span1"><%= f.label :isactive %></div>
    <div class="span1"><%= f.check_box :isactive %></div>

    <div class="span1"><%= f.label :isdelete %></div>
    <div class="span1"><%= f.check_box :isdelete %></div>

    <div class="span1"><%= f.label :img_url %></div>
    <div class="span3"><%= f.text_field :img_url %></div>
</div>

 <div class="row">
    <div class="span1"><%= f.label :title %></div>
    <div class="span4"><%= f.text_field :title %></div>

    <div class="span1"><%= f.label :short_text %></div>
    <div class="span5"><%= f.text_field :short_text %></div>
</div>
 <div class="row">
    <div class="span12"><%= f.cktext_area :text, :width => 620, :height => 600 %></div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
