<p id="notice"><%= notice %></p>


 <div class="row">
    <div class="span8">
      <h2><%= @news_list.title %></h2>
      <%= @news_list.short_text %>
    </div>
    <div class="span4">
      <img src="<%= @news_list.img_url %>" class="news_list_img"> 
    </div>
  </div>
<hr>
<h2><%= @news_list.title %></h2>
<img src="<%= @news_list.img_url %>" class="news_list_img" align="left" > <%=raw @news_list.text %>


<hr>
<%= link_to 'Edit', edit_news_list_path(@news_list) %> |
<%= link_to 'Back', news_lists_path %>
