<%= form_for(@accountabilityagent) do |f| %>
  <% if @accountabilityagent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accountabilityagent.errors.count, "error") %> prohibited this accountabilityagent from being saved:</h2>

      <ul>
      <% @accountabilityagent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br />
    <%= f.number_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :agentprofile_id %><br />
    <%= f.number_field :agentprofile_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
