<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @accountabilityagent.post_id %>
</p>

<p>
  <b>Agenprofile:</b>
  <%= @accountabilityagent.agentprofile_id %>
</p>


<%= link_to 'Edit', edit_accountabilityagent_path(@accountabilityagent) %> |
<%= link_to 'Back', accountabilityagents_path %>
