<p id="notice"><%= notice %></p>
<%= link_to 'Редактировать', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
<hr>
<%= render "shared/show_post" %>
<hr>
<%= link_to 'Редактировать', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
