<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @stat.post_id %>
</p>

<p>
  <b>Visittype:</b>
  <%= @stat.visittype %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
