<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=h yield(:title) %></title>
  <%= render "shared/head" %> 
</head>
<body>
  <% if user_signed_in? %>
  <%= render "shared/header" %> 
  <% end %>
  <div id="pagewrapper"> 
    <div class="container">
      <%= render "shared/public_header" %>  
    </div>   
    <div class="container" id="main_container">
      <%= yield %>
    </div> 
  </div>         
  <footer>
    <%= render "shared/footer" %>
  </footer>
</body>
</html>
